
.item {
  width: 215px;
  height: 318px;
}

.card {

  padding-right: 0px;
  padding-left: 0px;
  border: 0;
}

.tabset {
  padding-top: 75px;
  max-width: 940px;
  float: none;
  margin: auto;
  clear: both;

}

.carousel-item {
  left: 20px;
}

p {
  margin-top: 0;
  text-align: left;
  padding-top: 5px;
  padding-right: 30px;
  margin-bottom: 0;
  line-height: 1.2rem;
  margin-left: 16px;

}

span {
  text-align: left;
}

.txt_thoiLuong {
  text-align: left;
  padding-bottom: 25px;
  padding-top: 5px;
}

#carouselExampleInterval1 {
  margin-top: 30px;
}

#quangCao {
  max-width: 980px;
  float: none;
  margin: auto;
  clear: both;
  margin-bottom: 30px;
}

/deep/ .tabset ul {
  margin-bottom: 30px;
}

/deep/ .nav-item a {
  font-weight: bold;
  color: black;
  border: none;
  transition: all .2s;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

/deep/ .nav-item a:hover {

  background-color: transparent;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

/deep/ .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  font-weight: bold;
  color: #1e90ff;
  background-color: transparent;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.carousel-control-prev {
  width: 60px;
}

.carousel-control-next {
  width: 60px;
}
/*Animation transform*/
button.modal-view {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  display: inline-block;
  left: 0;
  line-height: 35px;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  z-index: 12;
  font-weight: 700;
  transform: scale(.5);
  border-radius: 4px;
  background-color: #1e90ff;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  padding: 20px;
  width: 140px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button.modal-view span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  bottom: 18px;
  color: #ffffff;
}
button.modal-view span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  bottom: 4px;
  right: -20px;
  transition: 0.5s;
  font-weight: bold;
  font-size: 24px;
}

button.modal-view:hover span {
  padding-right: 25px;
}

button.modal-view:hover span:after {
  opacity: 1;
  right: 0;
}

.single-features:hover button.modal-view {
  transform: scale(1);
  z-index: 999;
  opacity: 1
}

button.modal-view:hover {
  background: #1e90ff;
  color: #fff;
  text-decoration: none
}


#productModal button.close {
   position: absolute;
   right: 10px;
   top: 10px;
   -webkit-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   z-index: 2;
   opacity: 1;

 }
#productModal button.close span {
  border: 1px solid #909295;
  border-radius: 60px;
  color: #909295;
  display: block;
  height: 30px;
  line-height: 25px;
  text-align: center;
  width: 30px;
  padding-top: 1px;
}

#productModal1 button.close {
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 2;
  opacity: 1;

}
#productModal1 button.close span {
  border: 1px solid #909295;
  border-radius: 60px;
  color: #909295;
  display: block;
  height: 30px;
  line-height: 25px;
  text-align: center;
  width: 30px;
  padding-top: 1px;
}

