/*Animation transform 1*/
a.modal-view {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  bottom: 0;
  display: inline-block;
  left: 0;
  line-height: 35px;
  opacity: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  transition: all 500ms ease-out 0s;
  z-index: 12;
  color: #333;
  font-weight: 700;
  background: rgba(0,0,0,0.55);
  width: 100px;
  height: 64px;
  border-radius: 5px;
  padding-top: 10px;
  position: relative;
  margin: 0 auto;
  top: 240px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.single-features:hover a.modal-view {
  transform: scale(1);
  z-index: 9999;
  opacity: 1;
}

a.modal-view:hover {
  background: #cd201f;
  color: #fff;
  text-decoration: none
}


.icon{
  margin-top: 5px;
  margin-left: 38px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px 28px;
  border-color: transparent transparent transparent #ffffff;
}

//embed video
body {margin:2rem;}

.modal-dialog {
  max-width: 1000px;
  margin: 30px auto;
}
.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}


