<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<!-- Footer -->
<footer class="pt-5 pb-4 container-fluid" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 mt-2 mb-4">
        <h5 class="mb-4 font-weight-bold">Cinema Online</h5>
        <p class="mb-4">Etiam laoreet in ex quis efficitur.</p>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fas fa-map-marker"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold mb-0">Address:</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="far fa-envelope"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold mb-0">Have any questions?</h6>
                <p><a href="#">Support@userthemes.com</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fas fa-phone-volume"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold mb-0">Address:</h6>
                <p><a href="#">+XX (0) XX XX-XXXX-XXXX</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 mt-2 mb-4">
        <h5 class="mb-4 font-weight-bold">Đối Tác</h5>

        <ul class="social-pet mt-4">
          <li><a href="http://bhdstar.vn"><img src="https://123phim.vn/app/assets/img/icons/bhd.png"></a></li>
          <li><a href="http://galaxycine.vn"><img src="https://123phim.vn/app/assets/img/icons/galaxycine.png"></a></li>
          <li><a href="http://cinestar.com.vn"><img src="https://123phim.vn/app/assets/img/icons/cinestar.png"></a></li>
          <li><a href="http://lottecinemavn.com"><img
            src="https://s3img.vcdn.vn/123phim/2018/09/404b8c4b80d77732e7426cdb7e24be20.png"></a></li>
          <li><a href="https://www.megagscinemas.vn"><img src="https://123phim.vn/app/assets/img/icons/megags.png"></a>
          </li>
        </ul>

        <ul class="social-pet mt-4">
          <li><a href="https://www.vietinbank.vn/"><img
            src="https://123phim.vn/app/assets/img/icons/VIETTINBANK.png"></a></li>
          <li><a href="http://starlight.vn/"><img src="https://123phim.vn/app/assets/img/icons/STARLIGHT.png"></a></li>
          <li><a href="https://touchcinema.com/"><img src="https://123phim.vn/app/assets/img/icons/TOUCH.png"></a></li>
          <li><a href="https://www.indovinabank.com.vn/"><img src="https://123phim.vn/app/assets/img/icons/IVB.png"></a>
          </li>
          <li><a href="http://ddcinema.vn"><img src="https://123phim.vn/app/assets/img/icons/dongdacinema.png"></a></li>
        </ul>

        <ul class="social-pet mt-4">
          <li><a href="https://momo.vn"><img src="https://123phim.vn/app/assets/img/icons/momo.png"></a></li>
          <li><a href="https://zalopay.vn/"><img src="https://123phim.vn/app/assets/img/icons/zalopay_icon.png"></a>
          </li>
          <li><a href="http://laban.vn"><img src="https://123phim.vn/app/assets/img/icons/laban.png"></a></li>
          <li><a href="https://www.vietcombank.com.vn/"><img src="https://123phim.vn/app/assets/img/icons/VCB.png"></a>
          </li>
          <li><a href="http://www.agribank.com.vn/"><img src="https://123phim.vn/app/assets/img/icons/AGRIBANK.png"></a>
          </li>
        </ul>

        <ul class="social-pet mt-4">
          <li><a href="https://www.betacineplex.vn/"><img src="https://123phim.vn/app/assets/img/icons/bt.jpg"></a></li>
          <li><a href="https://cinemaxvn.com/"><img src="https://123phim.vn/app/assets/img/icons/cnx.jpg"></a></li>
          <li><a href="http://123go.vn"><img src="https://123phim.vn/app/assets/img/icons/123go.png"></a></li>
          <li><a href="https://www.payoo.vn/"><img src="https://123phim.vn/app/assets/img/icons/payoo.jpg"></a></li>
        </ul>

      </div>
    </div>
  </div>
</footer>
<!-- Copyright -->
<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="text-center text-white">
          &copy; 2019 <em><b>Nguyễn Trung Tín</b></em> & <em><b>Hỷ Quốc Mạnh</b></em>
        </div>
      </div>
    </div>
  </div>
</section>
