<!--component 1-->
<header>
  <app-slideshow></app-slideshow>
</header>
<!--page 1-->
<nav class="row">
  <div class="col-sm" style="padding-top: 3px">
    <fa-icon [icon]="fafilm" id="thing" routerLink="/" size="3x" style="margin: 2rem; color: #1e90ff"></fa-icon>
  </div>
  <div class="col-sm text-center" style="padding-top: 15px">
    <a routerLink="lichchieu">Lịch chiếu</a>
    <a routerLink="cumrap">Cụm rạp</a>
    <a routerLink="tintuc">Tin tức</a>
  </div>
  <div class="col-sm nav-info-right row">
    <div class="col-6">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary video-btn" data-toggle="modal" data-target="#myModal">
        Play Video 1 - autoplay
      </button>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <!-- 16:9 aspect ratio -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0"
                        src="https://www.youtube.com/embed/t7srZZh9lxY"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">

    </div>
  </div>
</nav>
<main>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>

<div class="footer">
  <app-footer></app-footer>
</div>





