/* You can add global styles to this file, and also import other style files */
nav {
  grid-column: 1/3;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, .95);
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  position: sticky;
  top: 0;
  height: 58px;
  z-index: 999;

}

nav div a {
  cursor: pointer;
  font-family: 'Pacifico', cursive;
  margin-right: 20px;

}


header {
  grid-column: 1 / 3;
  background: #455A64;
  color: white;
  text-align: center;
}

.footer {
  grid-column: 1 / 3;
  padding: 5rem 1rem;
  padding: 0;
}


main {
  grid-column-start: 2;

}

section {
  text-align: center;

}

#thing {
  cursor: pointer;
}

.nav-info-right .dropdown button {
  margin-top: 10px;
}

