<!--component 1-->
<header>
  <app-slideshow></app-slideshow>
</header>
<!--page 1-->
<nav class="row">
  <div class="col-sm" style="padding-top: 3px">
    <fa-icon [icon]="fafilm" id="thing" routerLink="/" size="3x" style="margin: 2rem; color: #1e90ff"></fa-icon>
  </div>
  <div class="col-sm text-center text-nav-link" style="padding-top: 15px">
    <a routerLink="lichchieu" >Lịch chiếu</a>
    <a routerLink="cumrap">Cụm rạp</a>
    <a routerLink="tintuc">Tin tức</a>
  </div>
  <div class="col-sm nav-info-right row">
    <div class="col-6">

    </div>
    <div class="col-6" style="top: 9px; left: 50px" >
      <button type="button" class="btn btn-primary btn-rounded width-md waves-effect waves-light" routerLink="/login">Đăng nhập</button>
    </div>
  </div>
</nav>
<main>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>

<div class="footer">
  <app-footer></app-footer>
</div>





