<div class="scroll">
<div class="cards mb-3" *ngFor="let item of listRap; let i = index"  [ngClass]="{'opacity': i === 0 }">
  <div class="row no-gutters" [ngClass]="{'margin-top-34': i === 1 || i === lengthList - 1 }">
    <div class="col-md-2">
      <img src='https://123phim.vn/app/assets/img/icons/typeSession/2_0.png' class="card-img" style="margin-top: 12px; margin-left: 10px">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text spanItem text-danger"><b>{{item.tenPhim}}</b></p>
        <p class="card-text spanItem">{{item.thoiLuongChieu}}</p>
        <span class="float-left">
          <span class="badge badge-success">{{item.trangThai}}</span>
        </span>
      </div>
    </div>
    <div class="col-md-2" >
      <button type="button" class="btn btn-outline-success" (click)="getId(item._id)" routerLink="/order"
              [ngClass]="{ 'd-none': item.trangThai === 'Sắp chiếu'}">Đặt vé</button>
    </div>
  </div>
  <hr>
</div>
</div>
