.form-control{
  height: 462px !important;
}
a {
  width: auto !important;
  height: 78px;
}

img{
  width: 50px;
}
.spanItem{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  line-height: 19px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.card-body{
  padding-top: 0;
  padding-bottom: 0;
}
.cards{
  max-width: 540px;
  height:77px;
  margin-left: 9px;
  margin-bottom: 0 !important;
}
.scroll{
  width: auto;
  height: 462px;
  overflow: scroll;
}
.badge{
  margin-right: 200px;
  font-size: 16px;
}
.btn-outline-success{
  margin-top: 16px;
}
.no-gutters{
  margin-top: 14px;
}
