a {
  width: auto !important;
  height: 78px;
}

img{
  width: 50px;
}
.spanItem{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  line-height: 18px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.card-body{
  padding-top: 0;
  padding-bottom: 0;
}
.card{
  max-width: 540px;
  height:77px;
  margin-left: 9px;
  margin-bottom: 0 !important;
  opacity: 0.6;

}
.card:hover{
  cursor: pointer;
  opacity: 1;
}

.opacity{
  opacity: 1;
}


