
<div class="card mb-3" *ngFor="let item of listRap; let i = index"  routerLinkActive="opacity">
  <div class="row no-gutters" routerLink='/{{item.routeName}}'>
    <div class="col-md-2">
      <img src={{item.srcImage}} class="card-img" style="margin-top: 12px; margin-left: 10px">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <p class="card-text spanItem text-danger"><b>{{item.tenRap}}</b></p>
        <p class="card-text spanItem">{{item.diaChi}}</p>
        <p class="card-text spanItem"><small class="text-muted">[Chi tiết]</small></p>
      </div>
    </div>
  </div>
</div>
