<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

          <div class="ticket ticket-1">

            <div class="date">
              <span class="day">31</span>
              <span class="month-and-time">OCT<br><span class="small">8PM</span></span>
            </div>

            <div class="artist">
              <span class="name">PETER TOSH</span>
              <br>
              <span class="live small">LIVE</span>
            </div>

            <div class="location">
              <span>KINGSTON TOWN</span>
              <br>
              <span class="small"><span>NANCY'S PUB</span>
              </span>
            </div>

            <div class="rip">
            </div>

            <div class="cta">
              <button class="buy" href="#">GRAB A TICKET</button>
            </div>

          </div>


    </div>
  </div>
</div>


<!--modal-->
<div class="form-containers">
  <div class="row-title">
    <h5>{{listPhim.tenPhim}}</h5>
    <span style="font-weight: bold">{{listRap.tenRap}}</span><br>
    <span>{{listRap.diaChi}}</span>
  </div>

  <div class="row row-header" [style.background-image]="'url(' + listPhim.srcImageLg + ')' "></div>
  <div class="row row-info">
  <span>
    <input class="gate" id="class" placeholder="Email!" type="text"/><label for="class">Email</label>
  </span>
    <hr class="hr">
  </div>
  <div class="row row-info">
  <span>
    <input class="gate" id="class2" placeholder="Số điện thoại!" type="text"/><label for="class2">SĐT</label>
  </span>
    <hr class="hr">
  </div>
  <div class="row row-info">
  <span>
    <input class="gate" id="class3" placeholder="Ghế!" type="text" value="{{gheSelected}}"/><label disabled for="class3">Ghế</label>
  </span>
    <hr class="hr">
  </div>
  <div class="row row-info">
    <div class="form-group">
      <label for="sel1" class="w-75 text-left">Ngày chiếu:</label>
      <select class="form-control" id="sel1" (change)="getSuatChieu($event.target.value)">
        <option>Chọn ngày chiếu</option>
        <option *ngFor="let item of listNgayChieu" [value]="item.idSuatChieu">{{item.ngayChieu}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="sel2" style="margin-right: 30px">Suất chiếu:</label>
      <select class="form-control" id="sel2" (change)="getSeatMap($event.target.value)">
        <option>Chọn suất chiếu</option>
        <option *ngFor="let item of listSuatChieu" [value]="item.idSeatMap">{{item.suatChieu}}</option>
      </select>
    </div>
    <hr class="hr">
  </div>
  <div class="row row-info" style="margin: 40px 0 0 0; padding: 0 22px 0 22px">
    <button type="button" class="btn btn-primary w-100" style="height: 50px"
            data-toggle="modal" data-target=".bd-example-modal-xl">{{giaVe}}</button>
  </div>
</div>
