
<div class="row">
  <div class="col-sm-8">
    <div class="plane">
      <hr>
      <div class="text-center">Screen</div>
      <hr>
      <div class="exit exit--front fuselage">

      </div>
      <ol class="cabin fuselage">
        <li class="row row--A">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="A1" />
              <label for="A1">A1</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A2" />
              <label for="A2">A2</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A3" />
              <label for="A3">A3</label>
            </li>
            <li class="seat">
              <input type="checkbox" disabled id="A4" />
              <label for="A4">A4</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A5" />
              <label for="A5">A5</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A6" />
              <label for="A6">A6</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A7" />
              <label for="A7">A7</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A8" />
              <label for="A8">A8</label>
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
  <div class="col-sm-4">
<app-book-ticket></app-book-ticket>
  </div>
</div>
<!--    <div class="ticket ticket-1">-->

<!--      <div class="date">-->
<!--        <span class="day">31</span>-->
<!--        <span class="month-and-time">OCT<br><span class="small">8PM</span></span>-->
<!--      </div>-->

<!--      <div class="artist">-->
<!--        <span class="name">PETER TOSH</span>-->
<!--        <br>-->
<!--        <span class="live small">LIVE</span>-->
<!--      </div>-->

<!--      <div class="location">-->
<!--        <span>KINGSTON TOWN</span>-->
<!--        <br>-->
<!--        <span class="small"><span>NANCY'S PUB</span>-->
<!--        </span>-->
<!--      </div>-->

<!--      <div class="rip">-->
<!--      </div>-->

<!--      <div class="cta">-->
<!--        <button class="buy" href="#">GRAB A TICKET</button>-->
<!--      </div>-->

<!--    </div>-->

<!--    <div class="ticket ticket-2">-->

<!--      <div class="date">-->
<!--        <span class="day">24</span>-->
<!--        <span class="month-and-time">JAN<br><span class="small">8PM</span></span>-->
<!--      </div>-->

<!--      <div class="artist">-->
<!--        <span class="name">SISTER NANCY</span>-->
<!--        <br>-->
<!--        <span class="live small">LIVE</span>-->
<!--      </div>-->

<!--      <div class="location">-->
<!--        <span>GOLDEN GROVE</span>-->
<!--        <br>-->
<!--        <span class="small">SIZZLA'S DUB PLACE</span>-->
<!--      </div>-->

<!--      <div class="rip">-->
<!--      </div>-->

<!--      <div class="cta">-->
<!--        <button class="buy" href="#">GRAB A TICKET</button>-->
<!--      </div>-->

<!--    </div>-->
