.tablist{
  margin-top: 200px !important;
  margin-bottom: 60px !important;
  max-width: 940px;
  float: none;
  margin: auto;
  clear: both;

}
div.col-4{
  padding-right: 0;
}
div.col-7{
  padding-left: 0;
}
a {
  width: 90px !important;
  height: 78px;
}
.wrapInfo{
  padding-left: 60px;
}
.wrapContainer{
  display: flex;
  flex-direction: row;
}
img{
  width: 50px;
}

.wrapInfo span{

  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
.section-custom{
  position: sticky;
  top: 9px;
  left: 960px;
  width: 200px;
  z-index: 99999;
}
.section-custom select{
  width: 100%;
}

